
@font-face{
    font-family:pass ;
    src:url(../webfont/Passifille.ttf)
}
@font-face{
    font-family:pass ;
    src:url(../webfont/CatthyWellingten.ttf)
}
@font-face{
    font-family:roboto;
    src:url(../webfont/Roboto-Italic.ttf)
}
@font-face{
    font-family:yan;
    src:url(../webfont/YanoneKaffeesatz.ttf)
}
